.wrapper {
  display: flex;
  gap: 0.5rem;

  .item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border: 2px solid #4D5562;
    border-radius: 0.85rem;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    cursor: pointer;
    &:hover{
      background-color: #7CA9F3;
    }
  }

}
